.contents {
  margin-top: 40px;
}
.container__form {
  width: 600px;
  padding: ;
  margin: 0 auto;
  background: ;
  border-radius: 8px;
  color: ;
}
.container__form .title {
  width: 400px;
  padding-bottom: ;
  margin: 0 auto;
  margin-bottom: ;
  border-bottom: solid 2px ;
  text-align: center;
  font-size: ;
}
.container__form .form {
  width: 100%;
}
.container__form .form__one {
  width: 240px;
  margin: 0 auto;
  margin-bottom: ;
}
.container__form .form__one label {
  display: block;
}
.container__form .form__one input {
  width: 240px;
  height: 24px;
}
.container__form .form__one label.err input, .container__form .form__one label.err select {
  background: #f7dcd9;
}
.container__form .form__title {
  padding-bottom: ;
}
.container__form .form__keep {
  display: block;
  margin-bottom: ;
  text-align: center;
}
.container__form .form__btn {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: ;
}
.main {
  width: 600px;
}
.main__title {
  width: 600px;
  padding-bottom: ;
  margin: 0 auto;
  margin-bottom: ;
  border-bottom: solid 2px ;
  font-size: ;
}
.main__user, .main__form {
  padding: ;
  background: ;
  border-radius: 8px;
  color: ;
  box-sizing: border-box;
}
.main__form {
  margin-bottom: 40px;
}
.main__form .form__title {
  padding-bottom: ;
}
.main__form .form__one {
  width: 240px;
  margin: 0 auto;
  margin-bottom: ;
}
.main__form .form__one label {
  display: block;
}
.main__form .form__one input {
  width: 240px;
  height: 32px;
  box-sizing: border-box;
}
.main__form .form__one textarea {
  width: 240px;
  height: 120px;
  box-sizing: border-box;
}
.main__form .form__one label.err input, .main__form .form__one label.err select {
  background: #f7dcd9;
}
.main__form .form__btn {
  text-align: center;
}
.main__form .imgDrop-container {
  width: 100%;
  height: 160px;
  margin-bottom: ;
  box-sizing: border-box;
  position: relative;
}
.main__form .imgDrop-container .area-drop {
  width: 160px;
  height: 160px;
  background: #f2f2f2;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}
.main__form .imgDrop-container .input-file {
  opacity: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
}
.main__form .imgDrop-container .prev-img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.user {
  box-sizing: border-box;
}
.user__prof {
  display: flex;
}
.user__prof--img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 40px;
}
.user__prof .info__one {
  margin-bottom: ;
}
.user__prof .info__title {
  width: 300px;
  padding-bottom: ;
  margin-bottom: ;
  border-bottom: solid 1px ;
}
.user__prof .info__value {
  font-size: ;
}
.user__prof .info__count {
  margin-top:  * 2;
}
.user__msg {
  height: 140px;
  width: 550px;
  padding: ;
  margin-top: 40px;
  border: solid 1px ;
  border-radius: 10px;
  box-sizing: border-box;
}
.spot__form {
  width: 600px;
}
.area-msg {
  margin-top: ;
  color: ;
}
.spot__list .spot__one {
  width: 600px;
  padding: ;
  margin-bottom: ;
  background: #fff;
  border: solid 1px ;
  border-radius: 5px;
  box-sizing: border-box;
}
.spot__list .spot__one .spot__user {
  margin-bottom: ;
  display: flex;
  align-items: center;
}
.spot__list .spot__one .spot__user .user__create__day {
  margin-left: auto;
}
.spot__list .spot__one .spot__info {
  display: flex;
}
.spot__list .spot__one .spot__info .spot__detail {
  width: 100%;
  margin-left: ;
}
.spot__list .spot__one .spot__info .spot__detail__one {
  margin-bottom: ;
}
.spot__list .spot__one .spot__info .spot__title {
  padding-bottom: ;
  border-bottom: solid 2px ;
  font-size: ;
}
.spot__list .spot__one .spot__info .spot__address {
  display: flex;
  align-items: center;
}
.spot__list .spot__img {
  height: 140px;
  width: 140px;
}
.spot {
  width: 600px;
  padding: ;
  margin: 0 auto;
  margin-bottom: ;
  background: #fff;
  box-sizing: border-box;
}
.spot__info {
  display: flex;
  margin-bottom: ;
}
.spot__detail {
  width: 100%;
}
.spot__detail__one {
  margin-bottom: ;
  display: flex;
}
.spot__title {
  width: 100%;
  padding-bottom: ;
  border-bottom: solid 2px ;
  font-size: ;
}
.spot__img {
  width: 200px;
  height: 200px;
  margin-right: ;
}
.spot .user__day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: ;
}
.spot .user__day__one {
  display: flex;
  align-items: center;
}
.spot .user__comment {
  margin-bottom: ;
}
.spot .btn__area {
  display: flex;
  justify-content: flex-end;
}
.comment__title {
  width: 600px;
  padding-bottom: ;
  margin: 0 auto;
  margin-bottom: ;
  border-bottom: solid 1px ;
}
.comment__one {
  padding: ;
  margin: 0 auto;
  margin-bottom: ;
  background: #fff;
  box-sizing: border-box;
}
.comment .user__day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: ;
}
.comment .user__day__one {
  display: flex;
  align-items: center;
}
.comment .area__send__comment {
  margin-top: ;
  margin-bottom: ;
}
.comment .area__send__comment .comment__area {
  display: flex;
}
.comment .area__send__comment .comment__area .msg {
  margin-right: ;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.sort__order {
  margin-bottom: ;
  font-size: 16px;
}
.sort__order button {
  font-size: 16px;
  text-align: left;
  background: #f5f5f5;
  color: #444;
  border-style: none;
}
.sort__order:hover {
  text-decoration: none;
}
.sort-active {
  background: #646464;
  color: #fff;
}
.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  margin-bottom: ;
  list-style: none;
}
.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}
.pagination .list-item:last-child {
  margin-right: 0;
}
.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: ;
  text-decoration: none;
}
.pagination .list-item.active a {
  background: ;
  color: #fff;
}
.pagination .list-item a:hover {
  background: #333;
  color: #fff;
}
.icn-like {
  float: right;
  color: #ddd;
}
.icn-like:hover {
  cursor: pointer;
}
.icn-like.active {
  float: right;
  color: #f00;
}
