html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
a {
  color: #362f2f;
  text-decoration: none;
}
avisited {
  color: #362f2f;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
.contents {
  margin-top: 40px;
}
.container__form {
  width: 600px;
  padding: 24px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  color: #362f2f;
}
.container__form .title {
  width: 400px;
  padding-bottom: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  border-bottom: solid 2px #362f2f;
  text-align: center;
  font-size: 24px;
}
.container__form .form {
  width: 100%;
}
.container__form .form__one {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.container__form .form__one label {
  display: block;
}
.container__form .form__one input {
  width: 240px;
  height: 24px;
}
.container__form .form__one label.err input, .container__form .form__one label.err select {
  background: #f7dcd9;
}
.container__form .form__title {
  padding-bottom: 8px;
}
.container__form .form__keep {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}
.container__form .form__btn {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #362f2f;
}
.main {
  width: 600px;
}
.main__title {
  width: 600px;
  padding-bottom: 8px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-bottom: solid 2px #362f2f;
  font-size: 24px;
}
.main__user, .main__form {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  color: #362f2f;
  box-sizing: border-box;
}
.main__form {
  margin-bottom: 40px;
}
.main__form .form__title {
  padding-bottom: 8px;
}
.main__form .form__one {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.main__form .form__one label {
  display: block;
}
.main__form .form__one input {
  width: 240px;
  height: 32px;
  box-sizing: border-box;
}
.main__form .form__one textarea {
  width: 240px;
  height: 120px;
  box-sizing: border-box;
}
.main__form .form__one label.err input, .main__form .form__one label.err select {
  background: #f7dcd9;
}
.main__form .form__btn {
  text-align: center;
}
.main__form .imgDrop-container {
  width: 100%;
  height: 160px;
  margin-bottom: 24px;
  box-sizing: border-box;
  position: relative;
}
.main__form .imgDrop-container .area-drop {
  width: 160px;
  height: 160px;
  background: #f2f2f2;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}
.main__form .imgDrop-container .input-file {
  opacity: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
}
.main__form .imgDrop-container .prev-img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.user {
  box-sizing: border-box;
}
.user__prof {
  display: flex;
}
.user__prof--img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 40px;
}
.user__prof .info__one {
  margin-bottom: 16px;
}
.user__prof .info__title {
  width: 300px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: solid 1px #362f2f;
}
.user__prof .info__value {
  font-size: 20px;
}
.user__prof .info__count {
  margin-top: 48px;
}
.user__msg {
  height: 140px;
  width: 550px;
  padding: 8px;
  margin-top: 40px;
  border: solid 1px #362f2f;
  border-radius: 10px;
  box-sizing: border-box;
}
.spot__form {
  width: 600px;
}
.area-msg {
  margin-top: 8px;
  color: #a03;
}
.spot__list .spot__one {
  width: 600px;
  padding: 16px;
  margin-bottom: 16px;
  background: #fff;
  border: solid 1px #362f2f;
  border-radius: 5px;
  box-sizing: border-box;
}
.spot__list .spot__one .spot__user {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.spot__list .spot__one .spot__user .user__create__day {
  margin-left: auto;
}
.spot__list .spot__one .spot__info {
  display: flex;
}
.spot__list .spot__one .spot__info .spot__detail {
  width: 100%;
  margin-left: 16px;
}
.spot__list .spot__one .spot__info .spot__detail__one {
  margin-bottom: 16px;
}
.spot__list .spot__one .spot__info .spot__title {
  padding-bottom: 8px;
  border-bottom: solid 2px #362f2f;
  font-size: 20px;
}
.spot__list .spot__one .spot__info .spot__address {
  display: flex;
  align-items: center;
}
.spot__list .spot__img {
  height: 140px;
  width: 140px;
}
.spot {
  width: 600px;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 16px;
  background: #fff;
  box-sizing: border-box;
}
.spot__info {
  display: flex;
  margin-bottom: 16px;
}
.spot__detail {
  width: 100%;
}
.spot__detail__one {
  margin-bottom: 16px;
  display: flex;
}
.spot__title {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: solid 2px #362f2f;
  font-size: 20px;
}
.spot__img {
  width: 200px;
  height: 200px;
  margin-right: 16px;
}
.spot .user__day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.spot .user__day__one {
  display: flex;
  align-items: center;
}
.spot .user__comment {
  margin-bottom: 16px;
}
.spot .btn__area {
  display: flex;
  justify-content: flex-end;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.sort__order {
  margin-bottom: 16px;
  font-size: 16px;
}
.sort__order button {
  font-size: 16px;
  text-align: left;
  background: #f5f5f5;
  color: #444;
  border-style: none;
}
.sort__order:hover {
  text-decoration: none;
}
.sort-active {
  background: #646464;
  color: #fff;
}
/*ページネーション*/.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  margin-bottom: 16px;
  list-style: none;
}
.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}
.pagination .list-item:last-child {
  margin-right: 0;
}
.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #362f2f;
  text-decoration: none;
}
.pagination .list-item.active a {
  background: #362f2f;
  color: #fff;
}
.pagination .list-item a:hover {
  background: #333;
  color: #fff;
}
.header {
  width: 100%;
  height: 80px;
  background: #b4cf9e;
  padding: 0 300px;
  box-sizing: border-box;
}
.header__logo {
  float: left;
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
}
.header__logo a {
  pointer-events: auto;
  font-size: 32px;
  text-align: center;
  font-family: "Signika", sans-serif;
}
.header__nav {
  position: relative;
  float: right;
  height: 90px;
  pointer-events: auto;
}
.header__nav a {
  text-decoration: none;
  font-weight: bold;
}
.header__nav .nav__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 560px;
  height: 80px;
  list-style: none;
  line-height: 80px;
}
.header__nav .nav__one {
  height: 80px;
  width: 140px;
  float: right;
  text-align: center;
}
.header__nav .nav__one:hover {
  cursor: pointer;
  opacity: 0.8;
  background: #fff;
  transition: 0.4s;
}
#footer {
  width: 100%;
  background: #b4cf9e;
  font-size: 16px;
}
.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
  overflow: hidden;
}
.footer__nav {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: solid 1px gray;
}
.footer__nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.footer__nav .nav__list .nav__one {
  width: 180px;
  text-align: center;
}
.footer__nav .nav__list .nav__one:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s;
}
.footer__bottom {
  padding-bottom: 16px;
  text-align: center;
}
.sidebar {
  width: 140px;
  height: 160px;
  padding: 16px;
  margin-top: 32px;
  margin-right: 64px;
  background: #fff;
  border-radius: 8px;
  line-height: 2;
}
.sidebar .nav__one:hover {
  cursor: pointer;
  opacity: 0.8;
  background: #b4cf9e;
  transition: 0.4s;
}
body {
  background-color: #fdfcf4;
}
