//————— メイン —————
.contents {
  margin-top: 40px;
}

.container {

  &__form {
    .title {
      width: 400px;
      padding-bottom: $space_s;
      margin: 0 auto;
      margin-bottom: $space_xl;
      border-bottom: solid 2px $font-color;
      text-align: center;
      font-size: $font-size_xl;
    }

    width: 600px;
    padding: $space_l;
    margin: 0 auto;
    margin-bottom: $space_m;
    background: $content-color;
    border-radius: 8px;
    color: $font-color;

    .form {
      width: 100%;

      &__one {
        width: 240px;
        margin: 0 auto;
        margin-bottom: $space_l;

        label {
          display: block;
        }

        input {
          width: 240px;
          height: 24px;
        }

        label.err input,
        label.err select {
          background: #f7dcd9;
        }
      }

      &__title {
        padding-bottom: $space_s;
      }

      &__keep {
        display: block;
        margin-bottom: $space_l;
        text-align: center;
      }

      &__btn {
        text-align: center;
      }

      .form__withdraw__intro {
        text-align: center;
        margin-bottom: $space_xl;
      }
    }
  }
  .to__mypage {
    margin: 0 auto;
    margin-top: $space_xl;
    text-align: center;

    &:hover {
      opacity: 0.6;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: $font-color;
}

.main {
  width: 600px;

  &__title {
    width: 600px;
    padding-bottom: $space_s;
    margin: 0 auto;
    margin-bottom: $space_m;
    border-bottom: solid 2px $font-color;
    font-size: $font-size_xl;
  }

  &__user,
  &__form {
      padding: $space_l;
      background: $content-color;
      border-radius: 8px;
      color: $font-color;
      box-sizing: border-box;
  }

  &__form {
      margin-bottom: 40px;

      .form {
        &__title {
            padding-bottom: $space_s;
        }

        &__one {
            width: 240px;
            margin: 0 auto;
            margin-bottom: $space_l;

            label {
              display: block;
            }

            input {
              width: 240px;
              height: 32px;
              box-sizing: border-box;
            }

            textarea {
              width: 240px;
              height: 120px;
              box-sizing: border-box;
            }

            label.err input,
            label.err select {
              background: #f7dcd9;
            }
        }
        &__btn {
          text-align: center;
        }
      }

      .imgDrop-container {
          width: 100%;
          height: 160px;
          margin-bottom: $space_l;
          box-sizing: border-box;
          position: relative;

        .area-drop {
          width: 160px;
          height: 160px;
          background: #F2F2F2;
          color: #ccc;
          text-align: center;
          line-height: 150px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          box-sizing: border-box;
        }

        .input-file {
          opacity: 0;
          width: 100%;
          height: 160px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 99999;
        }
        .prev-img {
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }

      }
    }
}

.user {
  &__prof {
      display: flex;

        &--img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin-right: 40px;
        }
        &--info {
            
        }

        .info {
          &__one {
            margin-bottom: $space_m;
          }

          &__title {
            width: 300px;
            padding-bottom: $space_s;
            margin-bottom: $space_s;
            border-bottom: solid 1px $font-color;
          }

          &__value {
            font-size: $font-size_l;
          }

          &__count {
            margin-top: $space_l * 2;
          }
        }
  }

  &__msg {
    height: 140px;
    width: 550px;
    padding: $space_s;
    margin-top: 40px;
    border: solid 1px $font-color;
    border-radius: 10px;
    box-sizing: border-box;
  }

  box-sizing: border-box;
}

.spot__form {
    width: 600px;
}

.area-msg {
    margin-top: $space_s;
    color: $valid-color;
}

.spot__list {
  .spot {
    &__one {
      width: 600px;
      padding: $space_m;
      margin-bottom: $space_m;
      background: #FFFFFF;
      border: solid 1px $font-color;
      border-radius: 5px;
      box-sizing: border-box;

      .spot {
        &__user {
          margin-bottom: $space_s;
          display: flex;
          align-items: center;

          .user {
            &__avatar {

            }
            &__name {
                
            }
            &__create__day {
                margin-left: auto;
            }
          }
        }
        &__info {
          display: flex;

          .spot {
            &__detail {
              width: 100%;
              margin-left: $space_m;

              &__one {
                margin-bottom: $space_m;
              }
            }
            &__title {
              padding-bottom: $space_s;
              border-bottom: solid 2px $font-color;
              font-size: $font-size_l;
            }
            &__address {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
    &__img {
      height: 140px;
      width: 140px;
    }
  }
}

// スポット詳細
.spot {
        width: 600px;
        padding: $space_m;
        margin: 0 auto;
        margin-bottom: $space_m;
        background: #ffffff;
        box-sizing: border-box;
  &__info {
    display: flex;
    margin-bottom: $space_m;
  }
  &__detail {
    width: 100%;
    &__one {
      margin-bottom: $space_m;
      display: flex;
    }
  }
  &__title {
    width: 100%;
    padding-bottom: $space_s;
    border-bottom: solid 2px $font-color;
    font-size: $font-size_l;
  }
  &__img {
    width: 200px;
    height: 200px;
    margin-right: $space_m;
  }
  .user__day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space_m;

      &__one {
        display: flex;
        align-items: center;
      }
      &__create {

      }

  }
  .user__comment {
    margin-bottom: $space_m;
  }
  .btn__area {
      display: flex;
      justify-content: flex-end;
  }
}

// コメント
.comment {
  &__title {
    width: 600px;
    padding-bottom: $space_s;
    margin: 0 auto;
    margin-bottom: $space_m;
    border-bottom: solid 1px $font-color;
  }

  &__one {
        padding: $space_m;
        margin: 0 auto;
        margin-bottom: $space_m;
        background: #ffffff;
        box-sizing: border-box;
  }

  .user__day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space_m;

    &__one {
      display: flex;
      align-items: center;
    }

      &__create {}
  }

  .area__send__comment {
    margin-top: $space_m;
    margin-bottom: $space_xl;

    .comment__area {
      display: flex;

      .msg {
        margin-right: $space_m;
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

// 並び替え
.sort__order {
  margin-bottom: $space_m;
  font-size: 16px;
}
.sort__order button {
  font-size: 16px;
  text-align: left;
  background: #f5f5f5;
  color: #444;
  border-style: none;
}
.sort__order:hover {
  text-decoration: none;
}
.sort-active {
  background: rgb(100, 100, 100);
  color: #fff;
}

// ページネーション
.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  margin-bottom: $space_m;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: $font-color;
  text-decoration: none;
}

.pagination .list-item.active a {
  background: $font-color;
  color: #FFFFFF;
}

.pagination .list-item a:hover {
  background: #333;
  color: #FFFFFF;
}

// お気に入りアイコン
.icn-like {
  float: right;
  color: #ddd;
}

.icn-like:hover {
  cursor: pointer;
}

.icn-like.active {
  float: right;
  color: #FF0000;
}