//————— メイン —————
.contents {
  margin-top: 40px;
}

.container {

  &__form {
    .title {
      width: 400px;
      padding-bottom: $space_s;
      margin: 0 auto;
      margin-bottom: $space_xl;
      border-bottom: solid 2px $font-color;
      text-align: center;
      font-size: $font-size_xl;
    }

    width: 600px;
    padding: $space_l;
    margin: 0 auto;
    background: $content-color;
    border-radius: 8px;
    color: $font-color;

    .form {
      width: 100%;

      &__one {
        width: 240px;
        margin: 0 auto;
        margin-bottom: $space_l;

        label {
          display: block;
        }

        input {
          width: 240px;
          height: 24px;
        }

        label.err input,
        label.err select {
          background: #f7dcd9;
        }
      }

      &__title {
        padding-bottom: $space_s;
      }

      .area-msg {
        margin-top: $space_s;
        color: $valid-color;
      }

      &__keep {
        display: block;
        margin-bottom: $space_l;
        text-align: center;
      }

      &__btn {
        text-align: center;
      }
    }

  }
}

.wrapper {
  display: flex;
  justify-content: center;

      margin: 0 auto;
      color: $font-color;
}

.main {
  width: 600px;

  &__title {
    width: 600px;
    padding-bottom: $space_s;
    margin: 0 auto;
    margin-bottom: $space_m;
    border-bottom: solid 2px $font-color;
    font-size: $font-size_xl;
  }

  &__user {
      padding: $space_l;
      background: $content-color;
      border-radius: 8px;
      color: $font-color;
      box-sizing: border-box;
  }
}

.user {
  &__prof {
      display: flex;

        &--img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin-right: 40px;
        }
        &--info {
            
        }

        .info {
          &__one {
            margin-bottom: $space_m;
          }

          &__title {
            width: 300px;
            padding-bottom: $space_s;
            margin-bottom: $space_s;
            border-bottom: solid 1px $font-color;
          }

          &__value {
            font-size: $font-size_l;
          }

          &__count {
            margin-top: $space_l * 2;
          }
        }
  }

  &__msg {
    height: 140px;
    width: 550px;
    padding: $space_s;
    margin-top: 40px;
    border: solid 1px $font-color;
    border-radius: 10px;
    box-sizing: border-box;
  }

  box-sizing: border-box;
}
